<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mytaobaounion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".Base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/amazing"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name="com.example.mytaobaounion.UI.Activity.ScanQrActivity"/>

        <activity
            android:name=".UI.Activity.TestActivity2"
            android:exported="false" />
        <activity
            android:name="com.vondear.rxfeature.activity.ActivityScanerCode"
            android:exported="false" />
        <activity
            android:name=".UI.Activity.TicketActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".UI.Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>